ion-tab-bar {
    --background: #223651;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.bottom-row {
    margin-top: auto;
}

.centered {
    display: grid;
    place-items: center;
}