<ion-app>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <div class="mt-60 mb-30" style="display: flex; justify-content: center; align-items: center;">
          <img style="width: 80%;" src="../../assets/logo.png" alt="logoUrl">
        </div>



      </ion-toolbar>
    </ion-header>

    <ion-content style="width: 100%;" scrollY="false">
      <div>

        <ion-menu-toggle>
          <ion-item lines="none" style="display: flex; align-items: center;" class="mt-2">
            <ion-icon name="person-circle" style="color: #FFFFFF; font-size: 40px; margin-right: 10px;"></ion-icon>
            <ion-label
              style="display: flex; flex-direction: column; justify-content: center; color: #FFFFFF; margin-left: 10xpx">
              <p style="margin: 0; font-weight: bold;">{{user?.username | titlecase}}</p>
              <small style="margin-top: 2px;">{{user?.displayName}}</small>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle (click)="closeMenu()">
          <ion-item class="mt-2" [routerLink]="'/pages/home'" routerDirection="root" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'menu-item': true, 'selected': 'pages/home'}"
            lines="none">
            <ion-icon slot="start" name="home" class="g-c"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle (click)="closeMenu()">
          <ion-item class="mt-2" [routerLink]="'/pages/products'" routerDirection="root" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'menu-item': true, 'selected': 'pages/schedule'}"
            lines="none">
            <ion-icon slot="start" name="today"></ion-icon>
            <ion-label>Productos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>

      <ion-grid class="container" style="margin-top: 60px;">
        <ion-row class="bottom-row">
          <ion-col class="centered">
            <ion-button expand="block" color="light" (click)="logout()">Cerrar sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>

    <ion-footer lines="none">
      <ion-toolbar lines="none">
        <small class="centered">connectUp - 2024</small>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>