/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

:root {
    // --ion-background-color: #223651;
    // --ion-background-color: #1e88e5;
    --ion-color-custom: rgb(35, 55, 83);
    --ion-light-color: #223651;
  }

ion-toolbar {
    --background: #223651;
}


// body {
//   background: radial-gradient(at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 107, 1) 100%);
//   background-repeat: no-repeat;
// }

// ion-label,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span small {
//   color: var(--ion-light-color);
// }

ion-item {
  --color: var(--ion-light-color);
}

ion-button {
  --background: var(--ion-light-color);
}

ion-toolbar,
ion-header,
ion-footer {
  // color: var(--ion-light-color);
  color: #FFFFFF;
}

.menu-item.active {
  background-color: #B9A66D;
}

.menu-item.active {
  --background: #223651;
  color: #FFFFFF;

  ion-icon {
    color: var(--fc-primary);
  }
}

// Font size

.fs-10 {
  font-size: 10px;
}

.fs-15 {
  font-size: 15px;
}

//Breadcrumb

.bread {
  display: flex;
  align-items: center;
  justify-content: end;
}

//Global button
.g-button {
  height: 50px;
  font-size: 17px
}

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.alertSuccess {
  color: #000000;
}

.t-s {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra negra con opacidad */
  // color: #fff;
}

.b-s {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra negra con opacidad */
  // color: #fff;
}
